<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment 1.1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dt191gmoment1._1.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="pb-3">
        <div class="container d-flex header">
            <!-- Sätt logga till vänster, datum till höger -->
            <h2 class="me-auto logo"><a asp-page="/Index">Razor</a></h2>
            <div class="mt-4 date">Dagens datum är: @DateTime.Now.ToString("yyyy-MM-dd")</div>
        </div>

    </header>

    <div class="container mt-4">
        <!-- Meny i vänsterspalt -->
        <div class="row content">
            <nav class="col-md-3 col-sm-12 sidebar-menu">
                <ul class="list-group">
                    <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-page="/Index">Hem</a></li>
                    <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                    </li>
                    <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-page="/About">Om</a></li>
                </ul>
            </nav>

            <!-- Huvudinnehåll i högerspalt -->
            <main class="col-md-9 col-sm-12">
                @RenderBody() <!-- Rendera sidinnehåll -->
            </main>
        </div>
    </div>

    <footer class="container mt-4">
        Av: Ronja Norlén - Kontakta mig via e-post: rono2300@@studenter.miun.se
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
