@page
@model MyApp.Namespace.AboutModel
@{
    // Om-sida
    ViewData["Title"] = "About"; // Titel på sidan 
}
<article>
<h2 class="mb-4">Om sidan</h2>
<p>Hej!<br>
Jag heter Ronja Norlén, är 31 år och bor i Åre.  </p>
<!-- Knapp för att slumpa fram låtar -->
<button id="song-btn" class="btn btn-primary" onclick="showSong()">Jag vill ha låt-tips!</button>
    <p id="song-display"></p>
</article>
